.container {
  display: flex;
  width: 100vw;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.logoStyle {
  width: 40vw;
  height: auto;
  z-index: 1;
  min-width: 400px;
}

.logoCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 'none';
}

.aboutContainer {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}