.container {
  display: flex;
  width: 100vw;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.logoStyle {
  height: 18vh;
  width: auto;
  z-index: 1;
}

.mainCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}