.buttonCard {
    display: flex;
    align-content: flex-start;
    border: 2px solid #181848;
    background-color: transparent;
    border-radius: 20px;
    font-size: 200%;
    color: #181848;
    text-align: center;
    width: 30%;
    height: 10%;
    margin: 2vw;
    padding: 2.5%;
    transition: all 0.25s ease-in-out;
}

.buttonCard:hover {
    transform: scale(1.04);
    background: #181848;
    color: #E0DDDD;
}

.buttonCard:active {
    transform: translateY(0px);
    transition: 0.12s ease-in-out;
}