.colorNav {
    background-color: #181848;
}

.colorOffcanvas {
    background-color: #E0DDDD;
    --bs-offcanvas-width: min(95vw, 250px) !important;
}

.menuButton {
    transition: all 0.25s ease-in-out;
}

.menuButton:hover {
    transform: scale(1.2);
}

.menuButton:active {
    transform: scale(0.95);
    transition: 0.12s ease-in-out;
}

.linkStyle {
    text-decoration: none;
    color: #181848;
    font-size: 125%;
    padding-left: 5%;
    padding-bottom: 5%;
    transition: all 0.2s ease-in-out;
}

.linkStyle:hover {
    color: #181848;
    transform: translateX(-8px);
}

.iconStyle {
    height: 3vh;
    padding-right: 5%;
}